$breakpoint-lower-tablet: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-square: 1280px;
$breakpoint-desktop: 1366px;
$breakpoint-desktop-full-hd: 1920px;
$breakpoint-desktop-2048: 2048px;
$breakpoint-desktop-2k: 2560px;
$breakpoint-desktop-usual: 1024px;
