$white: #FFF;
$black: #000;
$gray: rgba(196, 196, 196, 0.3);;
$red: red;
$blue: #02395E;
$gradient-blue: linear-gradient(179.49deg, #02395e 66.1%, rgba(2, 57, 94, 0.57) 109.44%);
$white-header: rgba(255, 255, 255, 0.5);
$transparent: transparent;

