.custom-card {
  margin: 0.95rem 0;
  height: fit-content;
  background: white;
  width: 100%;
  box-shadow: #11111a1a 0 0 16px;
  border-radius: 10px;
  overflow: hidden;
  padding: 16px 23px 16px 16px;
}
